@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  * {
    @apply outline-pink-500;
  }
  ::selection {
    @apply bg-pink-500/50;
  }

  html,
  body {
    height: 100%;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
}

@layer utilities {
  .neon-pink-600 {
    /*
    You know what would be cool?
    Writing a plugin that allowed any color to be used here 
    */
    color: #fff;
    animation: neon-pink-600 2.5s infinite alternate;
  }

  @keyframes neon-pink-600 {
    /* https://css-tricks.com/how-to-create-neon-text-with-css/ */
    100% {
      /* Larger blur radius */
      text-shadow: 0 0 0.03em #fff, 0 0 0.06em #fff, 0 0 0.09em #fff,
        0 0 0.15em theme(colors.pink.600), 0 0 0.7em theme(colors.pink.600),
        0 0 0.85em theme(colors.pink.600), 0 0 1.1em theme(colors.pink.600),
        0 0 1.25em theme(colors.pink.600);
    }
    0% {
      /* Smaller blur radius */
      text-shadow: 0 0 0.02em #fff, 0 0 0.03em #fff, 0 0 0.05em #fff,
        0 0 0.08em theme(colors.pink.600), 0 0 0.4em theme(colors.pink.600),
        0 0 0.5em theme(colors.pink.600), 0 0 0.6em theme(colors.pink.600),
        0 0 0.7em theme(colors.pink.600);
    }
  }
}
